{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list list--nav">
    {% for item in site.navigation_header %}

      {% if item[0] == "Newsletter" %}
        {% include button.html text="Newletter" link="/osiris.github.oi/newsletter/" color="#660087" %}
      {% else %}
        <li class="item  item--nav{% if item[1] == page.url %}  item--current{% endif %}">
          <a href="{{ item[1] }}" title="Page - {{ item[0] }}">{{ item[0] }}</a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}
