<aside class="aside typeset">

  {% if page.layout == "home" %}
    <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vru0uio3jjsbmqs3gin41uo5g8%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FNew_York" style="border:solid 1px #777" width="390" height="600" frameborder="0" scrolling="no"></iframe>
    {% endif %}

  {% if page.title == "Research" %}
    {% if page.layout == "categories" %}
      <section class="section section--category-index">
        <h3>Index</h3>
        {% include nav-categories.html %}
      </section>
    {% endif %}

  {% else %}
    {% if page.layout == "sections" %}
      <section class="section section--category-index">
        <h3>On This Page</h3>
        <nav class="nav nav--categories">
          <ul class="list list--categories">
            {% for item in page.sections %}
              <li class="item">
                <a href="{{ item[1] }}" title="Category - {{ item[0] }}">{{ item | first }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </section>
    {% endif %}

  {% endif %}

  {% if page.collection == "posts" or paginator.posts %}
    {% include post-related.html %}
    {% include button.html text="Subscribe to posts &nbsp;" icon="rss" link="/feed.xml" %}
  {% endif %}

</aside>
