---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--page  content  content--aside  typeset">

		{% if page.title %}
      <h1>{{ page.title }}</h1>
		{% endif %}
		
		{{ content }}

    {% unless page.layout == "categories" or page.layout == "search" or page.collection == "posts" or paginator.posts %}
      {% include post-list.html %}
    {% endunless %}

  </article>

  {% include site-aside.html %}

</main>

{% include site-footer.html %}
